{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title%} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
</head>
<body background="static/images/new_background.jpg">
	<div id='body'>
	<!-- <div id="navbar" class="font navbar">
		 <nav>
				<a href="{% url 'shopkeeper:item_list' %}"><strong>Home </strong></a> <a href="{% url 'shopkeeper:logout' %}"><strong>Logout</strong></a> <a href="#about_us"><strong>About us!</strong></a>
		</nav>
		</div> -->		
	{% block content %}
	{% endblock %}
	<!-- <div id="social_media">
			<ul>
			  <li><a href="#"><img src="/static/images/facebook.jpg" height="30" width="30"></a></li>
			  <li><a href="#"><img src="/static/images/pintrest.jpg" height="30" width="30"></a></li>
			  <li><a href="#"><img src="/static/images/instagram.jpg" height="30" width="30"></a></li>
			  <li><a href="#"><img src="/static/images/google+.jpg" height="30" width="30"></a></li>
			  <li><a href="#"><img src="/static/images/twitter.jpg" height="30" width="30"></a></li>
			  <li><a href="#"><img src="/static/images/whatsapp.jpg" height="30" width="30"></a></li>
			</ul>
		</div> -->

</div>
</body>
</html>