{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> PES E-CANTEEN </title>
    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/style.css' %}"/>
    <style type="text/css">
    	.last-page{
    		display: flex;
    		justify-content: center;
    		text-align: center;
    		 font-family:helvetica, sans-serif;
    	}
    </style>
</head>
<body>
	
	<div  class="last-page">
		<div>
            <h1>PES E-CANTEEN</h1>
		    <h1>Thanks for Ordering</h1>
		    <h2>ENJOY YOUR FOOD</h2>
		    <img src="/static/cart/yummy.gif">
		</div>
	 
	</div>
	
</body>

</html>

